<%- include('../partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body class="bg-gray-900 text-white">
    <a
      href="/tickets/new"
      class="w-full bg-blue-500 py-2 text-white rounded hover:bg-blue-600"
      >Create Ticket</a
    >
    <table class="mx-auto mt-4">
      <thead>
        <tr>
          <th>Category</th>
          <th>Status</th>
          <th>Created at</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(ticket=> { %>
        <tr>
          <td><%= ticket.category %></td>
          <td><%= ticket.status ? "open" : "closed" %></td>
          <td><%= ticket.created_at.toLocaleString() %></td>
          <td>
            <a
              href="/tickets/<%= ticket.id %>"
              class="w-full bg-blue-500 py-2 text-white rounded hover:bg-blue-600"
              >Open Ticket</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
<%- include('../partials/footer.ejs') %>
